<h3>Create a new Group:</h3>

<hr />

<form class="form-horizontal" method="post" action="/groups">
  <div class="control-group">
    <label class="control-label">Group Name</label>
    <div class="controls">
      <input name="name" class="input-large" type="text" placeholder="Be original...">
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Description</label>
    <div class="controls">
      <textarea name="description" rows="3"></textarea>
    </div>
  </div>
  
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">Create Group</button>
    </div>
  </div>
</form>